mule-sample/src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config
		name="api-httpListenerConfig">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	<apikit-soap:config httpStatusVarName="httpStatus"
		name="soapkit-config" port="CalculatorSoap12" service="Calculator"
		wsdlLocation="test.wsdl" />
	<flow name="api-main">
		<http:listener config-ref="api-httpListenerConfig"
			path="/Calculator/CalculatorSoap12">
			<http:response
				statusCode="#[attributes.additionalTransportData.statusCode default 200]">
				<http:body>#[payload]</http:body>
				<http:headers>#[attributes.protocolHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[attributes.additionalTransportData.statusCode default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[attributes.protocolHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit-soap:router config-ref="soapkit-config">
			<apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
		</apikit-soap:router>
	</flow>
	<flow name="Add:\soapkit-config">
		<java:invoke method="add(int,int)" doc:name="Invoke" doc:id="53002711-7eff-4602-bbd1-9ff52ab55b74" class="com.sample.SampleClass" instance="sampleClass">
			<java:args ><![CDATA[#[{
	arg0:  payload.body.Add.intA as Number {class: "java.lang.Integer"},
	arg1: payload.body.Add.intB as Number {class: "java.lang.Integer"}
}]]]></java:args>
		</java:invoke>
		<logger level="INFO" doc:name="Logger" doc:id="08fcfbaf-6e4f-4cf3-9e44-0b612689774f" message="#[%dw 2.0&#10;output application/xml&#10;---&#10;payload]"/>
		<ee:transform>
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
ns ns0 http://tempuri.org/
---
{
	body: {
		ns0#AddResponse: {
			ns0#AddResult: payload
		}
	} write "application/xml"
}]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d6839246-b88e-4f0f-a80b-7abc87fd5103" type="ANY">
				<flow-ref doc:name="Flow Reference" doc:id="0611f0cc-6dc1-44c5-a8c0-3c9740cb7ad1" name="cxf-error-flow"/>
				<!-- <ee:transform>
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
-&#45;&#45;
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: error.description,
            detail : {
            	systemEvent : {
            		message : error.detailedDescription,
            		event : error.failingComponent,
            		date : now(),
            		dateString : "TPS-" ++ now() as String {format :"ddd mmm dd hh:mm:ss zzz yyyy"}
            	}
            }
        }
    } write "application/xml"
}]]>
						</ee:set-payload>
					</ee:message>
				</ee:transform> -->
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="Subtract:\soapkit-config">
		<ee:transform>
			<ee:message>
				<ee:set-payload>
                    <![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [Subtract:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Multiply:\soapkit-config">
		<ee:transform>
			<ee:message>
				<ee:set-payload>
                    <![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [Multiply:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Divide:\soapkit-config">
		<ee:transform>
			<ee:message>
				<ee:set-payload>
                    <![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [Divide:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
